= form_for @product, {class:"form-group"} do |f|
  - if @product.errors.any?
    .error_messages
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name
    %br
    = f.text_field :name
  .form-group
    = f.label :price_in_dollars
    %br
    = f.number_field :price_in_dollars
  .form-group
    = f.label :released_at_text,"Release Date & Time"
    %br
    = f.text_field :released_at_text
  .form-group
    = f.label :category_id
    %br
    = f.collection_select :category_id, Category.order(:name), :id, :name

    or create one:
    =f.text_field :new_category

  .form-group
    =f.label :tag_names, "Tags (space separated)"
    %br 
    =f.text_field :tag_names 
  .actions
    = f.submit 'Save', class: "btn btn-primary"
