%h1{class: "text-center"} Listing products

%table{class: "table table-striped"}
  %thead
    %tr
      %th Name
      %th Price in cents
      %th Release at
      %th Category
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= number_to_currency product.price_in_cents
        %td= product.released_at
        %td= product.category.name
        %td= link_to 'Show', product
        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product', new_product_path
